@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#recprod {
    display: none;
}

#message {
    margin: 2em auto auto auto;
}

ul {
    list-style-type: none;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    color: #CCCCCC;
    font-family: 'Kalam', cursive;
}

.center {
    text-align: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    margin: 1em 0 0 0
}

.pairing-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#pairingText {
    margin: 0 1em 0 1em;
}

#searchBox {
    background-color: #CCCCCC;
    font-family: 'Kalam', cursive;
    text-align: center;
}

.btn {
    background-color: #CCCCCC;
    font-family: 'Kalam', cursive;
    padding: 0 0.2em 0 0.2em;
}

.recprod-container {
    display: flex;
    flex-direction: column;
    margin: 2em 0 0 0
}

#product-image {
    align-self: center;
    float: left;
}

#wineList {
    /* text-indent: 2.5%; */
    margin: 1em;
}

form {
    margin: 1em auto auto auto;
}

#title {
    margin: 1em 0 0 0;
    padding: 0 1em 0 1em
}

.product-info {
    margin: 1em;
}

#product-image {
    margin: 0 1em 0 0;
    align-self: flex-start;
    max-height: 15em;
    width: auto;
}

#searchBox {
    width: 180px
}

#link {
    color: #307CE9;
    margin: auto auto 1.5em auto;
    padding: 0 1em 0 1em;
}

@media only screen and (min-width: 768px) {
    body {
        background-image: url("https://i.imgur.com/INqx9ZP.jpg?1");
    }

    .center {
        text-align: left;
    }

    form {
        margin: 1em 0 0 0;
    } 

    .content-container {
        padding: 1.5rem 0 3rem 0;
        margin: 1rem 5rem 0 46rem;
    }

    .pairing-container {
        padding: 0;
        margin: 0 4em 2em 10em;
    }

    #pairingText {
        margin: 0;
    }

    .recprod-container {
        margin: 0 4em 0 10em;
    }

    #title {
        padding: 0
    }

    #product-image {
        float: left;
    }

    #link {
        margin: 0 0 0 1em;
        padding: 0;
    }

    #message {
        margin: 2em 0 0 0;
    }
}